:root {
    --primary: #48afc4;
    --secondary: #191d2f;
    --tertiary: #6e7492;

    --primary-text: #f9fafc;

    --hover: #6e749270;
    --secondary-text: #cdd0e0;
    --focus-primary-text: #f9fafc;
    --focus-secondary-text: #f9fafc;
}
