:root {
    --primary: #05778f;
    --secondary: #f9fafc;
    --tertiary: #eceef4;

    --primary-text: #191d2f;

    --hover: #cdd0e0;
    --secondary-text: #6e7492;
    --focus-primary-text: #f9fafc;
    --focus-secondary-text: #f9fafc;
}
